

/*  TODO: Rehome these */
.coda-symbol {
  height: 24px;
  margin-right: -6px;
  margin-bottom: -4px;
}
.arrow {
  width: 8mm;
  margin-right: 0.5mm;
}
.segno-symbol {
  height: 24px;
}
.caesura-symbol {
  font-style: normal;
  font-weight: normal;
  transform: scale(2) translateY(0.13em);
  position: relative;
  display: inline-block;
  padding: 0 0.2em 0 0.4em;
  /* background: blue; */
}
.arrow.right-down-right {
  display: flex;
  flex-direction: column;
}
.arrow.right-down-right .top {
  height: calc(30/110 * 8mm);
  flex-grow: 0;
}
.arrow.right-down-right .bottom {
  height: calc(30/110 * 8mm);
  flex-grow: 0;
}
.arrow.right-down-right .middle {
  height: 1.5em;
  flex-grow: 1;
}
.arrow.right-down-squished {
  display: none;
}
.arrow.left-down-squished {
  display: none;
}
.arrow.right-up-squished {
  display: none;
}
