@import url('./styles/utilities.css');
@import url('./styles/symbols.css');
@import url('./styles/rhythms.css');
@import url('./styles/layout.css');

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,500;0,700;1,500;1,700&family=Open+Sans+Condensed:wght@700&display=swap');
@font-face {
  font-family: 'LJC';
  font-style: normal;
  font-weight: normal;
  src: url('../src/assets/lilyjazz-chord.otf') format('opentype');
}
@font-face {
  font-family: 'MuseJazz';
  font-style: normal;
  font-weight: normal;
  src: url('../src/assets/MuseJazz.otf') format('opentype');
}
@font-face {
  font-family: 'Rhythms';
  font-style: normal;
  font-weight: normal;
  font-display: block;
  src: url('../src/assets/Rhythms.woff2') format('woff2')
       url('../src/assets/Rhythms.woff') format('woff');
}


@media print {
  /* Ensure user agent does not need "print background colours" on in order
  for white outlines to print around chord names etc */
  body {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }
}
@page {
  size:A4 portrait;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0;
}

:root {
  --page-width: 210mm;
  --page-height: 297mm;

  --root-bar-width: 22mm;
  --page-columns: 8;
  --x-page-margin: calc(
    calc(var(--page-width) - var(--page-columns) * var(--root-bar-width))
    / 2
  );

  --top-page-margin: 10mm;
  --bottom-page-margin: 10mm;
  --root-bar-height: 20mm;
  --header-height: 16mm;

  --font-size: 4.25mm;
  --bar-width: var(--root-bar-width);
  --bar-height: var(--root-bar-height);
  --x-unit: calc(var(--bar-width) / 2);
  --y-unit: calc(var(--bar-height) / 2);

  --row-gap: var(--y-unit);
  --col-gap: var(--x-unit);

  --gridline-color: black;
  --stop-color: #DDD;
  --stroke-width: 0.25mm;
  --thick-stroke-width: 0.75mm;
  --border-stroke-gap-width: 0.25mm;
  --rhythm-font-size: 5mm;
  --text-outline-color: white;
  --serif-font: 'EB Garamond';
  --annotation-font: 'EB Garamond';
  --annotation-script-font: 'EB Garamond';
  
  --root-large-chord-size: 8.6mm;
  --root-small-chord-size: calc(var(--root-large-chord-size) / 1.625);
}





.page {
  width: var(--page-width);
  min-height: var(--page-height);
  padding: var(--top-page-margin) var(--x-page-margin) 0;
  overflow: hidden;
  font-family: var(--serif-font);
}

.song {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  margin-top: calc(var(--y-unit) / 2);
}


hr {
  border-width: 0 0 var(--stroke-width);
  border-style: solid;
}