@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,500;0,700;1,500;1,700&family=Open+Sans+Condensed:wght@700&display=swap');
@font-face {
  font-family: 'LJC';
  font-style: normal;
  font-weight: normal;
  src: url('../src/assets/lilyjazz-chord.otf') format('opentype');
}
@font-face {
  font-family: 'MuseJazz';
  font-style: normal;
  font-weight: normal;
  src: url('../src/assets/MuseJazz.otf') format('opentype');
}

@media print {
  /* Ensure user agent does not need "print background colours" on in order
  for white outlines to print around chord names etc */
  body {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }
}
@page {
  size:A4 portrait;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0;
}

:root {
  --page-width: 210mm;
  --page-height: 297mm;

  --root-bar-width: 22mm;
  --page-columns: 8;
  --x-page-margin: calc(
    calc(var(--page-width) - var(--page-columns) * var(--root-bar-width))
    / 2
  );

  --top-page-margin: 10mm;
  --bottom-page-margin: 10mm;
  --root-bar-height: 20mm;
  --header-height: 16mm;

  --font-size: 4.25mm;
  --bar-width: var(--root-bar-width);
  --bar-height: var(--root-bar-height);
  --x-unit: calc(var(--bar-width) / 2);
  --y-unit: calc(var(--bar-height) / 2);

  --row-gap: var(--y-unit);
  --col-gap: var(--x-unit);

  --gridline-color: black;
  --stop-color: #DDD;
  --stroke-width: 0.25mm;
  --thick-stroke-width: 0.75mm;
  --border-stroke-gap-width: 0.25mm;
  --rhythm-font-size: 5mm;
  --text-outline-color: white;

  --serif-font: 'EB Garamond';
  --annotation-font: 'EB Garamond';
  --annotation-script-font: 'EB Garamond';
}

.page {
  /* font-size: var(--font-size); */
}

@import url('./styles/utilities.css');
@import url('./styles/symbols.css');
@import url('./styles/rhythms.css');
@import url('./styles/layout.css');


.indent-0-5 { left:  calc(0.5 * var(--bar-width) ); }
.indent-1   { left:  calc(1   * var(--bar-width) ); }
.indent-1-5 { left:  calc(1.5 * var(--bar-width) ); }
.indent-2   { left:  calc(2   * var(--bar-width) ); }
.indent-2-5 { left:  calc(2.5 * var(--bar-width) ); }
.indent-3   { left:  calc(3   * var(--bar-width) ); }
.indent-3-5 { left:  calc(3.5 * var(--bar-width) ); }
.indent-4   { left:  calc(4   * var(--bar-width) ); }
.indent-4-5 { left:  calc(4.5 * var(--bar-width) ); }
.indent-5   { left:  calc(5   * var(--bar-width) ); }
.indent-5-5 { left:  calc(5.5 * var(--bar-width) ); }
.indent-6   { left:  calc(6   * var(--bar-width) ); }
.indent-6-5 { left:  calc(6.5 * var(--bar-width) ); }
.indent-7   { left:  calc(7   * var(--bar-width) ); }
.indent-7-5 { left:  calc(7.5 * var(--bar-width) ); }

.width-0-5  { width: calc(0.5 * var(--bar-width) ); }
.width-1    { width: calc(1   * var(--bar-width) ); }
.width-1-5  { width: calc(1.5 * var(--bar-width) ); }
.width-2    { width: calc(2   * var(--bar-width) ); }
.width-2-5  { width: calc(2.5 * var(--bar-width) ); }
.width-3    { width: calc(3   * var(--bar-width) ); }
.width-3-5  { width: calc(3.5 * var(--bar-width) ); }
.width-4    { width: calc(4   * var(--bar-width) ); }
.width-4-5  { width: calc(4.5 * var(--bar-width) ); }
.width-5    { width: calc(5   * var(--bar-width) ); }
.width-5-5  { width: calc(5.5 * var(--bar-width) ); }
.width-6    { width: calc(6   * var(--bar-width) ); }
.width-6-5  { width: calc(6.5 * var(--bar-width) ); }
.width-7    { width: calc(7   * var(--bar-width) ); }
.width-7-5  { width: calc(7.5 * var(--bar-width) ); }

.down-0-5   { top:   calc(0.5 * var(--bar-height)); }
.down-1     { top:   calc(1   * var(--bar-height)); }
.down-1-5   { top:   calc(1.5 * var(--bar-height)); }
.down-2     { top:   calc(2   * var(--bar-height)); }
.down-2-5   { top:   calc(2.5 * var(--bar-height)); }
.down-3     { top:   calc(3   * var(--bar-height)); }
.down-3-5   { top:   calc(3.5 * var(--bar-height)); }
.down-4     { top:   calc(4   * var(--bar-height)); }
.down-4-5   { top:   calc(4.5 * var(--bar-height)); }
.down-5     { top:   calc(5   * var(--bar-height)); }
.down-5-5   { top:   calc(5.5 * var(--bar-height)); }
.down-6     { top:   calc(6   * var(--bar-height)); }
.down-6-5   { top:   calc(6.5 * var(--bar-height)); }
.down-7     { top:   calc(7   * var(--bar-height)); }
.down-7-5   { top:   calc(7.5 * var(--bar-height)); }
.down-8     { top:   calc(8   * var(--bar-height)); }
.down-8-5   { top:   calc(8.5 * var(--bar-height)); }
.down-9     { top:   calc(9   * var(--bar-height)); }
.down-9-5   { top:   calc(9.5 * var(--bar-height)); }
.down-10    { top:   calc(10  * var(--bar-height)); }
.down-10-5  { top:   calc(10.5* var(--bar-height)); }
.down-11    { top:   calc(11  * var(--bar-height)); }
.down-11-5  { top:   calc(11.5* var(--bar-height)); }
.down-12    { top:   calc(12  * var(--bar-height)); }
.down-12-5  { top:   calc(12.5* var(--bar-height)); }
.down-13    { top:   calc(13  * var(--bar-height)); }
.down-13-5  { top:   calc(13.5* var(--bar-height)); }
.down-14    { top:   calc(14  * var(--bar-height)); }
.down-14-5  { top:   calc(14.5* var(--bar-height)); }

.page {
  width: var(--page-width);
  min-height: var(--page-height);
  padding: var(--top-page-margin) var(--x-page-margin) 0;
  overflow: hidden;
}

.song {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  margin-top: calc(var(--y-unit) / 2);
}


