
  /* Utility Classes */
  body .absolute {
    position: absolute;
  }
  .teeny {
    font-size: 0.8em;
  }

  .non-scaling-stroke {
    vector-effect: non-scaling-stroke;
  }

  [data-outline] {
    display: inline-block;
    isolation: isolate;
  }

  [data-outline]::before {
    content: attr(data-outline);
    position: absolute;
    z-index: -1;
    inset: 0;
    -webkit-text-stroke: var(--stroke-width) var(--text-outline-color);
  }

  .smufl-symbol {
    font-style: normal;
    font-weight: normal;
    font-family: 'MuseJazz';
    font-size: 1.7em;
    line-height: 0;
    position: relative;
  }

  .smufl-symbol.coda {
    bottom: -0.2em;
    font-size: 1.5em;
  }
  .smufl-symbol.segno {
    bottom: -0.2em;
    font-size: 1.5em;
  }
  .smufl-symbol.caesura {
    bottom: -0.1em;
  }
  .smufl-symbol.fermata {
    bottom: -0.1em;
  }
  .smufl-symbol.fermata-up {
    bottom: 0.55em;
  }

  .unicode-symbol {
    font-style: normal;
    font-weight: normal;
    font-size: 2.1em;
    line-height: 0;
    position: relative;
  }
  .unicode-symbol.fermata {
    bottom: -0.4em;
  }
  .unicode-symbol.fermata-up {
    bottom: 0.2em;
  }
  .unicode-symbol.down-right {
    bottom: -0.18em;
  }
  .unicode-symbol.left-down {
    bottom: -0.1em;
  }
  .unicode-symbol.right-down {
    bottom: -0.18em;
  }

  .unicode-symbol.mirror {
    transform: scaleX(-1);
    background: lightskyblue;
    display: inline-block;
  }

  .special-arrow {
    margin-bottom: -.25em;
    margin-right: 0.25ch;
    width: 1rem;
    display: inline-block;
  }